@charset "utf-8";
.grid{width: 960px;}
.box{height: 50px; float: left;}
.col-1{width: 80px;background:red}
.col-2{width: 160px; background:orange;}
.col-3{width: 240px; background:yellow;}
.col-4{width:320px; background:green;}
.col-5{width: 400px; background:blue;}
.col-6{width: 480px; background:olive;}
.col-7{width: 560px; background:purple;}
.col-8{width: 640px; background:grey;}
.col-9{width: 720px; background:hotpink;}
.col-10{width: 800px; background:maroon;}
.col-11{width: 880px; background:lime;}
.col-12{width: 960px; background:lightblue;}